@charset 'UTF-8';
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333;
  margin: 20px 0;
}
.nav-bar {
  margin-top: 0;
  background: none;
}
.nav-bar > li {
  border: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  box-shadow: none;
}
body {
  font-weight: normal;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
    font-family: "Open Sans", sans-serif;

}
.txtcase{
  text-transform: uppercase;
}

.hover-underline-menu {
    width: 100%;
  }
  
  .hover-underline-menu .menu {
    /* background-color: #2C3840; */
    background-color: #2C3840;
  }
  
  .hover-underline-menu .menu a {
    /* color: #fefefe; */
    color: #fefefe;
    padding: 1.2rem 1.5rem;
  }
  
  .hover-underline-menu .menu .underline-from-center {
    position: relative;
  }
  
  .hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    /* border-bottom: 0.125rem solid #fefefe; */
        border-bottom: 0.125rem solid #1ea706 ; /*#2C3840;*/;

    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }
  .bs{
    box-shadow: 0px 2px 2px #888888;
  }
  .hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }
  